body {
  background-color: #eeeeee;
}

header, .post-section {
  background-color: #ffffff;
  padding-bottom: 12px;
  margin-bottom: 6px;
  border-radius: 0 0 12px 12px;
}

.post-section {
  padding-top: 10px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

h1 {
  font-size: 20px;
  margin: 10px;
}

nav {
  display: flex;
}

nav ul {
  align-items: center;
}

nav ul li {
  margin: 0px 10px;
  font-size: 16px;
}

div.icon-menu nav, div.icon-menu nav ul {
  width: 100vw;
  justify-content: space-between;
}

nav ul li a img {
  width: 24px;
}

.post-section form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

textarea {
  padding: 10px;
  border-radius: 8px;
}

.post-button {
    vertical-align: middle;
    background-color: blue;
    color: white;
    padding: 8px;
}

div.post-block {
  background-color: #ffffff;
  margin: 0px auto 6px auto;
  padding: 10px;
}
