* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: blue;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

nav ul {
  display: flex;
  list-style-type: none;
}

form.login-form {
  text-align: center;
}

form.login-form input {
  width: 90%;
  margin-bottom: 20px;
}